{% extends "dashboard/layouts/base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="jumbotron p-5 text-center">
  <div class="d-flex justify-content-center mb-5">
    <img src="{% static 'images/book.svg' %}" alt="">
  </div>
  <p class="text-center">Hello, Welcome to MyShool NG Student Portal</p>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="{% static 'management/js/charts.js' %}"></script>

{% endblock javascripts %}