<div class="card-body" style="overflow-x: auto;">
    <table class="table text-nowrap" style="overflow-x: scroll;">
        <thead class="text-primary">
            <th>User</th>
            <th>Amount</th>
            <th>Time</th>
            <th>Address</th>
            <th>TX Hash/ID</th>
            <th></th>
        </thead>
        <tbody>
            {% for payment in page_obj %}
            <tr>
                <td><a href="{{payment.user.get_absolute_url}}">{{payment.user.username}}</a></td>
                <td>${{payment.amount}}</td>
                <td>{{payment.timestamp | date:'d/m/Y'}}</td>
                <td>{{payment.address}}</td>
                <td>{{payment.tx}}</td>
                <td>
                    <div class="d-flex justify-content-evenly">
                        <a href="{% url 'dashboard:approve_payment' pk=payment.id %}"
                            class="btn btn-outline-primary">Approve</a>
                        <a href="{% url 'dashboard:decline_payment' pk=payment.id %}"
                            class="btn btn-outline-danger">Reject</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>